<section id="about">
	<div class="copy">
		<h1>Devote Energy Going To Events, Not Remembering Them</h1>
		<p>There are a lot of great events in the Denver Metro Area; unfortunately, it is very easy to miss out because you didn’t hear or forgot about them.</p>
		<p>No more! We scour the internet looking for events and post them to the calendar… all you have to do is subscribe. We only include special events and don’t clutter it with random happy hours (unless it is a special event and awesome). Best of all, it’s free!</p>
		<p>The events on our calendar fit into a wide range from 5ks to beer festivals.  Check out our <a href="faq.html#event_guidelines" alt="Event Guidelines" class="smoothScroll">Event Guidelines</a> to get a feel for what we include.  Of course, if you know of an event that you think would fit, <a href="#suggest_event" alt="Suggest An Event" class="smoothScroll">let us know!</a></p>
		<p>Check out some upcoming events on the calendar:</p>
		<ul class="image_links">
			<li><%= image_tag "gabf-2013-logo.png", :alt => "Great American Beer Festival" %></li>
			<li><%= image_tag "denver-food-and-wine-classic-logo.jpg", :alt => "Denver Food and Wine Classic" %></li>
			<li><%= image_tag "tour-de-fat-2013.jpg", :alt => "New Belgium Tour De Fat" %></li>
			<li><%= image_tag "usa-pro-cycling-logo.jpg", :alt => "USA Pro Cycling Challenge" %></li>
			<li><%= image_tag "boulder-fall-fest-logo.jpg", :alt => "Boulder Fall Fest" %></li>
		</ul>
	</div>
</section>