<section id="cost_to_subscribe">
	<div class="copy">
		<h3>Does it cost anything to subscribe?</h3>
		<p><%= link_to "Top", "#home", :class => "smoothScroll" %></p>
		<p>Nope.  Nothing at all.</p>
	</div>
</section>
<section id="how_to_subscribe">
	<div class="copy">
		<h3>How do I subscribe to the calendar?</h3>
		<p><%= link_to "Top", "#home", :class => "smoothScroll" %></p>
		<p>You can subscribe to the Denver Boulder Events calendar using nearly any popular calendar program or web application. Once subscribed, you can view events on your calendar.  We strongly recommend that if you want to access the calendar on your smartphone, you subscribe via your main calendar (e.g. Google Calendar Web App).</p>

		<p>Here are links to a bunch of popular programs in case you aren't sure how to subscribe:</p>
		<ul class="image_links">
			<li>
				<%= link_to "https://support.google.com/calendar/answer/37100?hl=en" do %>
					<%= image_tag "google-logo-white.jpg", :alt => "Google" %>
				<% end %>
			</li>
			<li>
				<%= link_to "http://windows.microsoft.com/en-us/windows/outlook/calendar-import-vs-subscribe" do %>
					<%= image_tag "outlook.com-logo.jpg", :alt => "Outlook.com/Hotmail" %>
				<% end %>
			</li>
			<li>
				<%= link_to "http://help.yahoo.com/tutorials/cal/cal/cal_subscribe4.html" do %>
					<%= image_tag "yahoo-logo.jpg", :alt => "Yahoo!" %>
				<% end %>
			</li>
			<li>
				<%= link_to "http://www.howtogeek.com/howto/18353/view-your-google-calendar-in-outlook-2010/" do %>
					<%= image_tag "ms-outlook-logo.jpg", :alt => "Microsoft Office Outlook" %>
				<% end %>
			</li>
			<li>
				<%= link_to "http://www.apple.com/findouthow/mac/#subscribeical" do %>
					<%= image_tag "ical-logo.png", :alt => "iCal (Mac OSX)" %>
				<% end %>
			</li>
		</ul>
	</div>
</section>
<section id="online_list">
	<div class="copy">
		<h3>Why don't you have a list of events on your website rather than subscribe?</h3>
		<p><%= link_to "Top", "#home", :class => "smoothScroll" %></p>
		<p>This is something that could absolutely be useful and we have definitely considered it. It isn't available at the moment because we had to prioritize where we spent our time and felt that focusing on finding events was more important right now.</p>
		<p>That being said, it is still a possibility and the more requests we get for it, the faster we will incorporate it. In the meantime, please feel free to send us a note using the <%= link_to "event suggestion form", root_path(:anchor => "suggest_event"), :class => "smoothScroll" %>.</p>
	</div>
</section>
<section id="spam">
	<div class="copy">
		<h3>Are you going to spam me?</h3>
		<p><%= link_to "Top", "#home", :class => "smoothScroll" %></p>
		<p>Spam sucks.  People who spam, suck.  If we spammed you, by the transitive property, we would suck.  Since we don't suck, we can therefore determine that we don't spam.  Boom... mathematical proof your email is safe with us.</p>
		<p>All kidding aside, you are busy and already buried in email.  The events in the calendar are supposed to be fun and enjoyable... that doesn't include a ton of emails from us.  We won't spam you because we want you to spend your free time doing an event on the calendar, not reading our emails.</p>
		<p>If you haven't done so already, also check out <%= link_to "how we will use your email address", faq_path(:anchor => "email_policy"), :class => "smoothScroll" %>.</p>
	</div>
</section>
<section id="email_policy">
	<div class="copy">
		<h3>What are you going to do with my email address?</h3>
		<p><%= link_to "Top", "#home", :class => "smoothScroll" %></p>
		<p>We ask for your email address for a few reasons:</p>
		<ul>
			<li>To be able to notify you important news such as changes in service or a new feature.</li>
			<li>To let you know about a big event that we added at the last minute.  We strive to keep this at an absolute minimum.</li>
			<li>To update you when we add a bunch (over a dozen) new events.</li>
			<li>To get an idea of how many subscribers we have.  The calendar doesn't tell us this so we need some way to know how popular the service is.</li>
		</ul>
		<p>We will never sell your email address and will try to keep our talking to a minimum.  As we evolve based on feature requests and your feedback, this might change but we will let you know if that ever happens.</p>
		<p>If you haven't done so already, also check out our <%= link_to "views on spam", faq_path(:anchor => "spam"), :class => "smoothScroll" %>.</p>
	</div>
</section>
<section id="email_required">
	<div class="copy">
		<h3>Do I really need to provide my email to get the calendar?</h3>
		<p><%= link_to "Top", "#home", :class => "smoothScroll" %></p>
		<p>Yes you do.  Please refer to what we <a href="#email_policy" class="smoothScroll">plan on doing with it</a>... hopefully that will clear up why we need it.</p>
	</div>
</section>
<section id="event_guidelines">
	<div class="copy">
		<h3>What types of events are included in the calendar?</h3>
		<p><%= link_to "Top", "#home", :class => "smoothScroll" %></p>
		<p>We don't like our calendar crowded with events that are special in the way that Wednesday is special.  It starts with a "W", sure but beyond that, what else?  To that end, we carefully curate our events so that cool and interesting events aren't buried under the same old happy hour that occurs every Friday.</p>
		<p>For our events, we look for the following:</p>
		<ul>
			<li>Events that occur either once a year or recur on a limited schedule (e.g. summer weekends only)</li>
			<li>Events that show off Denver/Boulder and how cool of a place this really is</li>
			<li>Events that occur in or near Denver/Boulder or would be worth a day trip</li>
			<li>Cultural Events</li>
		</ul>
		<p>These are not hard and fast rules, just guidelines we try to consider before adding an event to your calendar.</p>
		<p>Have an event that fits and you would like to see added?  <%= link_to "Suggest it to us", root_path(:anchor => "suggest_event"), :class => "smoothScroll" %></p>
	</div>
</section>
<section id="submit_event">
	<div class="copy">
		<h3>I have an event... can I get it added to the calendar?</h3>
		<p><%= link_to "Top", "#home", :class => "smoothScroll" %></p>
		<p>The internet is a big place and we probably missed a ton of happenings. That being said, if you have an event you want to add to the calendar, please tell us about it.  The calendar is curated so we can't guarantee that it will get on there but, if it fits our <a href="#event_guidelines">Event Guidelines</a>, we will probably add it.</p>
		<p>Go ahead... be a little crazy... <%= link_to "suggest the event", root_path(:anchor => "suggest_event"), :class => "smoothScroll" %>.  We won't judge... we'll even say thanks.</p>
	</div>
</section>
<section id="help_out">
	<div class="copy">
		<h3>Can I help out in some way?</h3>
		<p><%= link_to "Top", "#home", :class => "smoothScroll" %></p>
		<p>We'd really love some coffee... kidding... but, if you're going...</p>
		<p>Actually, we can always use some help finding events.  Please feel free to <a href="index-full-image.html#suggest_event">submit events</a> as you find them.</p>
		<p>Also, we will periodically put out product surveys to check interest in new features.  Keep an eye on our blog for information as it comes up.</p>
	</div>
</section>
<section id="meaning_of_life">
	<div class="copy">
		<h3>What is the meaning of life?</h3>
		<p><%= link_to "Top", "#home", :class => "smoothScroll" %></p>
		<p>This probably is different for everyone but we think it is to go out and have great experiences that you can use to prove to your teenagers that you were cool once.  Do it now or they'll never believe you.</p>
		<p>The Denver/Boulder events calendar can help with that. <%= link_to "Sign Up Now", root_path %></p>
	</div>
</section>
<section id="hgtg">
	<div class="copy">
		<h3>What is 7 * 6?</h3>
		<p><%= link_to "Top", "#home", :class => "smoothScroll" %></p>
		<p>42.</p>
		<p>To be fair, we never said there wouldn't be math... truthfully though, it is the <%= link_to "answer to the ultimate question of life, the universe and everything", "http://en.wikipedia.org/wiki/42_(number)" %>... so, that kind of makes up for having to do multiplication.</p>
	</div>
</section>
<section id="ask_a_question">
	<div class="copy">
		<h3>Where can I ask my question?</h3>
		<p><%= link_to "Top", "#home", :class => "smoothScroll" %></p>
		<p>You can send us an email at support@denverboulderevents.com.</p>
	</div>
</section>