<section id="faq">
	<div class="copy">
		<h1>Frequently Asked Questions</h1>
		<p>Have questions?  It's cool.  Here is where you'll find answers.</p>
		<ul>
			<li><%= link_to "Does it cost anything to subscribe?", faq_path(:anchor => "cost_to_subscribe"), :class => 'smoothScroll' %></li>
			<li><%= link_to "How do I subscribe to the calendar?", faq_path(:anchor => "how_to_subscribe"), :class => 'smoothScroll' %></li>
			<li><%= link_to "Are you going to spam me?", faq_path(:anchor => "spam"), :class => 'smoothScroll' %></li>
			<li><%= link_to "What are you going to do with my email address?", faq_path(:anchor => "email_policy"), :class => 'smoothScroll' %></li>
			<li><%= link_to "What types of events are included in the calendar?", faq_path(:anchor => "event_guidelines"), :class => 'smoothScroll' %></li>
			<li><%= link_to "I have an event... can I get it added to the calendar?", faq_path(:anchor => "submit_event"), :class => 'smoothScroll' %></li>
			<li><%= link_to "Can I help out in some way?", faq_path(:anchor => "help_out"), :class => 'smoothScroll' %></li>
			<li><%= link_to "I don't care about these questions... where can I ask my question?", faq_path(:anchor => "ask_a_question"), :class => 'smoothScroll' %></li>
		</ul>
	</div>
</section>