<section id="faq" class="alt_color">
	<div class="copy">
		<h1>Frequently Asked Questions</h1>
		<p>Have questions? It's cool. We have answers.</p>
		<ul>
			<li><%= link_to "Does it cost anything to subscribe?", faq_path(:anchor => "cost_to_subscribe"), :class => 'smoothScroll' %></li>
			<li><%= link_to "How do I subscribe to the calendar?", faq_path(:anchor => "how_to_subscribe"), :class => 'smoothScroll' %></li>
			<li><%= link_to "Why don't you have a list of events on your website rather than subscribe?", faq_path(:anchor => "online_list"), :class => 'smoothScroll' %></li>
			<li><%= link_to "Are you going to spam me?", faq_path(:anchor => "spam"), :class => 'smoothScroll' %></li>
			<li><%= link_to "What are you going to do with my email address?", faq_path(:anchor => "email_policy"), :class => 'smoothScroll' %></li>
			<li><%= link_to "What types of events are included in the calendar?", faq_path(:anchor => "event_guidelines"), :class => 'smoothScroll' %></li>
			<li><%= link_to "I have an event... can I get it added to the calendar?", faq_path(:anchor => "submit_event"), :class => 'smoothScroll' %></li>
			<li><%= link_to "Can I help out in some way?", faq_path(:anchor => "help_out"), :class => 'smoothScroll' %></li>
			<li><%= link_to "What is the meaning of life?", faq_path(:anchor => "meaning_of_life"), :class => 'smoothScroll' %></li>
			<li><%= link_to "What is 7 * 6?", faq_path(:anchor => "hgtg"), :class => 'smoothScroll' %></li>
			<li><%= link_to "I have a less than frequently asked question where can I ask my question?", faq_path(:anchor => "ask_a_question"), :class => 'smoothScroll' %></li>

		</ul>
	</div>
</section>