<% provide(:title, "Events in Denver and Boulder") %>

<%= render 'static_page/signup_callout' %>
<%= render 'layouts/menu_bar' %>
<div class="content">
	<%= render 'static_page/about' %>
	<%= render 'static_page/faq' %>
	<%= render 'static_page/suggest_event' %>
</div>
<%= render 'layouts/footer' %>
<%= render 'static_page/email_modal' %>