<%= form_for(@event) do |f| %>
  <div class="event_form">
    <div class="event_detail">
      <%= f.text_field :event_name, :placeholder => "Event Name" %>
      <%= f.text_field :location, :placeholder => "Location" %>
      <%= f.text_field :start_date, :placeholder => "Start Date" %>
      <%= f.text_field :end_date, :placeholder => "End Date" %>
      <%= f.text_area :notes, :placeholder => "Notes" %>
      <%= f.text_field :tag_tokens, :id => "event_tag_tokens", :data => { :load => @event.tags } %>
    </div>
    <div class="event_recurrence">
      <h4>Recurring Events</h4>
      <%= f.label :frequency %>
      <%= select(:event, :frequency, %w[Daily Weekly Monthly Yearly], { include_blank: true }) %>
      <%= f.label "Repeat Every..." %>
      <%= select(:event, :recurrence_frequency, ((0..30).map { |i| [i, i] }), { include_blank: true }) %>
      <%= f.label "Ends On..." %>
      <%= f.text_field :recurrence_end_date %>
      <%= f.label "Ends After n Occurences..." %>
      <%= f.text_field :recurrence_end_count %>
      <%= f.label "Repeat On... (comma separated)" %>
      <%= f.text_field(:recurrence_day) %>
      <p>Available day options are: SU MO TU WE TR FR SA</p>
      <p>To get the 3rd Thursday (or something similar), use 3TR.  The last Friday is -1FR</p>
      <p>Events that occur on the 1st and 15th of the month should be done in two events.</p>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :class => "button" %>
    <%= link_to 'Cancel', events_path, :class => "button" %>
  </div>
<% end %>