<% provide(:title, "All Events") %>

<div class="events">
  <div class="header">
    <h1>Listing events</h1>
    <%= link_to 'New Event', new_event_path %>
  </div>
  <% flash.each do |key, value| %>
    <div class="alert-<%= key %>"><%= value %></div>
  <% end %>

  <p class="no_tag">Events that do not have a tag</p>
  <table>
    <tr>
      <th>Event</th>
      <th>Location</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Options</th>
    </tr>

  <% @events.each do |event| %>
    <% if event.tags.count == 0 %>
      <tr class="no_tag">
    <% else %>
      <tr>
    <% end %>
      <td><%= link_to event.event_name, event %></td>
      <td><%= event.location %></td>
      <td><%= event.start_date.strftime("%B %e, %Y") %></td>
      <td><%= event.end_date.strftime("%B %e, %Y") %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %> | <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
</div>