<% provide(:title, "Subscription Requests") %>

<div class="requests">
  <div class="header">
    <h1>Requests</h1>
    <%= link_to 'New Request', new_request_path %>
  </div>
  <% flash.each do |key, value| %>
    <div class="alert-<%= key %>"><%= value %></div>
  <% end %>

  <table>
    <tr>
      <th>Email Address</th>
      <th>Validated</th>
      <th>Approved</th>
      <th>Requested At</th>
      <th>Options</th>
    </tr>

  <% @requests.each do |request| %>
    <tr>
      <td><%= request.email %></td>
      <td><%= request.verification_code %></td>
      <td class="binary"><%= request.validated %></td>
      <td class="binary"><%= request.approved %></td>
      <td><%= request.created_at %></td>
      <td><%= link_to 'Resend Validation Email', resend_validation_path(request) %> | 
      <%= link_to 'Edit', edit_request_path(request) %> | 
      <%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
</div>