<p id="notice"><%= notice %></p>

<table>
	<tr>
		<td><%= @request.email %></td>
		<td><%= @request.validated %></td>
		<td><%= @request.approved %></td>
		<td><%= @request.created %></td>
		<td><%= link_to 'Edit', edit_request_path(@request) %></td>
		<td><%= link_to 'Back', requests_path %></td>
	</tr>
</table>
