<p id="notice"><%= notice %></p>

<p><%= @tag.description %></p>

<h3>Tagged Events</h3>
<table>
	<tr>
		<th>Event Name</th>
		<th>Location</th>
		<th>Start Date</th>
	</tr>
<% @tag.events.each do |event| %>
	<tr>
		<td><%= link_to event.event_name, event_path(event) %></td>
		<td><%= event.location %></td>
		<td><%= event.start_date %></td>
	</tr>
<% end %>
</table>