<div class="header sticky">
	<nav class="top-bar">
		<ul class="title-area">
			<li class="name">
				<h1><%= link_to "Denver Boulder Events", root_path, :class => 'smoothScroll' %></h1>
			</li>
		</ul>
		<section class="top-bar-section right">
			<ul>
				<li><%= link_to "Get the Calendar!", root_path %></li>
				<li><%= link_to "About Us", root_path(:anchor => "about"), :class => "smoothScroll" %></li>
				<li><a href="#">Blog</a></li>
				<li><%= link_to "FAQ", root_path(:anchor => "faq"), :class => "smoothScroll" %></li>
				<li><%= link_to "Suggest An Event", root_path(:anchor => "suggest_event"), :class => "smoothScroll" %></li>
			</ul>
		</section>
	</nav>
</div>